$mainColor: #00a2fd;
footer {
  padding: 1em 2em;
  .footer-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .footer-contents-col1 {
      display: flex;
      gap: 5em;
      .link-1 {
        padding: 1em;
        display: flex;
        gap: 0.75em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
          color: black;
          font-size: 1.2em;
          font-weight: 500;
          &:hover {
            text-decoration: 3px underline $mainColor;
          }
        }
      }
    }
    .footer-contents-col2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      select {
        font-size: 1.1em;
        padding: 0.2em 2em;
        border-radius: 0.2em;
        cursor: pointer;
        background: #fff;
      }
      .share-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .copyright-wrap {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright-text {
      display: flex;
      align-items: center;
      i {
        margin-top: -0.5em;
        font-size: 1.3em;
        margin-right: 0.2em;
      }
      img {
        margin-top: -0.5em;
        width: 30px;
        height: 30px;
        margin-right: 0.5em;
      }
      p {
        font-size: 1.2em;
        margin-right: 0.3em;
      }
    }
    .conditions {
      display: flex;
      align-items: center;
      gap: 3em;
      a {
        text-decoration: none;
        font-weight: 500;
        color: black;
        &:hover {
          text-decoration: 2px underline $mainColor;
        }
      }
    }
  }
}
