<footer>
  <div class="footer-wrap">
    <div class="footer-contents-col1">
      <div class="link-1">
        <a routerLink="/">Home</a>
        <a routerLink="/About">About us</a>
        <a routerLink="/Contact">Contact</a>
      </div>
      <div class="link-1">
        <a href="#">Blogs</a>
        <a href="#">Company</a>
        <a href="#">Resources</a>
      </div>
    </div>
    <div class="footer-contents-col2">
      <select name="Language" id="">
        <option value="Eng">English</option>
        <option value="Tamil">Tamil</option>
        <option value="Hindi">Hindi</option>
      </select>
      <div class="share-wrap">
        <img src="../../assets/icons8-facebook-48.png" alt="" />
        <img src="../../assets/icons8-instagram-48.png" alt="" />
        <img src="../../assets/icons8-twitter-48.png" alt="" />
        <img src="../../assets/icons8-github-48.png" alt="" />
        <img src="../../assets/icons8-play-button-48.png" alt="" />
        <img src="../../assets/icons8-linkedin-48.png" alt="" />
      </div>
    </div>
  </div>
  <div class="copyright-wrap">
    <div class="copyright-text">
      <i class="far fa-copyright"></i>
      <p><strong>2021</strong></p>
      <img src="../../assets/Lightning-icon.png" alt="" />
      <p><strong>LightSpeed</strong> inc,</p>
    </div>
    <div class="conditions">
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
    </div>
  </div>
</footer>
