<div class="request">
  <div *ngIf="loaded">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="isEmpty">No orders available...</div>
  <div class="request-wrap" *ngFor="let order of Orders; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Order</mat-panel-title>
          <mat-panel-description>{{
            order.Indents[0].OrderDate | tshortpipe: 10
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="request-details">
          <div class="row">
            <div class="title">OrderId</div>
            <div class="content">{{ order._id | tshortpipe: 20 }}</div>
          </div>
          <div *ngFor="let indent of order.Indents; let j = index">
            <h3
              [ngStyle]="{
                color:
                  indent.StatusStack.length == 5
                    ? 'darkgreen'
                    : indent.Status < 5
                    ? 'black'
                    : 'red'
              }"
            >
              Order
              {{
                indent.StatusStack.length == 5
                  ? " Delivered"
                  : indent.Status < 5
                  ? j + 1
                  : j + 1 + "  Canceled"
              }}
            </h3>

            <div>
              <div class="row">
                <div class="title">Source</div>
                <div class="content">
                  {{ indent.Source["Address"] }}
                  {{ indent.Source["Pincode"] }}
                </div>
              </div>
              <div class="row">
                <div class="title">Destination</div>
                <div class="content">
                  {{ indent.Destination.Address }}
                  {{ indent.Destination.Pincode }}
                </div>
              </div>
              <div class="row">
                <div class="title">Delivery Date</div>
                <div class="content">
                  {{ indent.OrderDate | tshortpipe: 10 }}
                </div>
              </div>
              <div class="row">
                <div class="title">Weight</div>
                <div class="content">{{ indent.Weight }}</div>
              </div>
              <div class="row">
                <div class="title">Volume</div>
                <div class="content">{{ indent.Volume }}</div>
              </div>
              <div class="row">
                <div class="title">IsLTL</div>
                <div class="content">{{ indent.IsLTL }}</div>
              </div>
              <div class="row">
                <div class="title">Driver</div>
                <div class="content">{{ order.Driver.Username }}</div>
              </div>
              <div class="row">
                <div class="title">Consignee Profile</div>
                <a
                  href="https://lightspeed2021.herokuapp.com/Consignee/{{
                    indent.Consignee.Username
                  }}/Profile/{{ indent.Consignee._id }}"
                  target="_blank"
                  >{{ indent.Consignee.Username }}</a
                >
              </div>
              <div
                class="row"
                *ngIf="
                  !accept[i] &&
                  indent.StatusStack.length <= 2 &&
                  indent.Status <= 4
                "
              >
                <button
                  (click)="onDecline(indent._id, i)"
                  [ngStyle]="{
                    background: 'linear-gradient(to right, #ff416c, #ff4b2b)'
                  }"
                >
                  Cancel
                </button>
              </div>
              <app-transstatus [Status]="indent.StatusStack"></app-transstatus>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
