<div class="header">
  <button (click)="onBack()">
    <span class="material-icons"> arrow_back_ios_new </span>
    Back
  </button>
</div>
<div class="main">
  <div *ngIf="loaded">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="isEmpty">No orders please come later.....</div>
  <div class="order-wrap" *ngFor="let order of Orders; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState[i] = true"
        (closed)="panelOpenState[i] = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Order </mat-panel-title>
          <mat-panel-description> {{ order.OrderDate }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="status">
          <div class="order-details">
            <div class="title">Order Details</div>
            <div class="row">
              <h3>order. ID</h3>
              <h4>{{ order._id }}</h4>
            </div>
            <div class="row">
              <h3>Source</h3>
              <h4>{{ order.Source.Pincode }}</h4>
            </div>
            <div class="row">
              <h3>Destination</h3>
              <h4>{{ order.Destination.Pincode }}</h4>
            </div>
            <!-- <div class="row">
              <h3>Weight</h3>
              <h4>{{ order.indent.Weight }}</h4>
            </div>
            <div class="row">
              <h3>Volume</h3>
              <h4>{{ order.indent.Volume }}</h4>
            </div> -->
            <button (click)="onAccept(order._id, order.TransporterId, i)">
              <span class="material-icons"> check_circle_outline </span>
              Request
              <div class="lds-ring" *ngIf="clicked[i]">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
          </div>
          <app-direction
            [Coordinates]="{
              src: {
                latitude: order.Source.Geolocation.lat,
                longitude: order.Source.Geolocation.lng
              },
              des: {
                latitude: order.Destination.Geolocation.lat,
                longitude: order.Destination.Geolocation.lng
              }
            }"
            *ngIf="panelOpenState[i]"
          ></app-direction>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
