<div class="order">
  <div *ngIf="clicked">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="isEmpty">No orders please come later.....</div>
  <div class="order-wrap" *ngFor="let bid of Bids; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Bid Created </mat-panel-title>
          <mat-panel-description>{{
            bid.indent.OrderDate | shortenPipe: 10
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="status">
          <div class="order-details">
            <div class="title">Order Details</div>
            <div class="row">
              <h3>Bid ID</h3>
              <h4>{{ bid._id }}</h4>
            </div>
            <div class="row">
              <h3>Source</h3>
              <h4>{{ bid.indent.Source.Address }}</h4>
            </div>
            <div class="row">
              <h3>Destination</h3>
              <h4>{{ bid.indent.Destination.Address }}</h4>
            </div>
            <div class="row">
              <h3>Weight</h3>
              <h4>{{ bid.indent.Weight }}</h4>
            </div>
            <div class="row">
              <h3>Volume</h3>
              <h4>{{ bid.indent.Volume }}</h4>
            </div>
            <button (click)="onClose(bid._id)">Close Bid</button>
          </div>
        </div>
        <div class="table" *ngIf="bid.quotes.length > 0">
          <table mat-table [dataSource]="bid.quotes" class="mat-elevation-z8">
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef>ID.</th>
              <td mat-cell *matCellDef="let transporter">
                {{ transporter.TransporterId }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Username">
              <th mat-header-cell *matHeaderCellDef>Username</th>
              <td mat-cell *matCellDef="let transporter">
                {{ transporter.Username }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let transporter">
                {{ transporter.Amount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Accept">
              <th mat-header-cell *matHeaderCellDef>Accept</th>
              <td mat-cell *matCellDef="let transporter">
                <button (click)="onAccept(bid._id, transporter.TransporterId)">
                  Accept
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
