<div class="order">
  <div *ngIf="clicked">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="isEmpty">No orders please come later.....</div>
  <div class="order-wrap" *ngFor="let order of Orders; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title [ngStyle]="{ color: 'orange' }">
            Order
          </mat-panel-title>
          <mat-panel-description>{{
            order.Indents[0].OrderDate
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="status">
          <div class="order-details">
            <div class="row">
              <h3>OrderID</h3>
              <h4>{{ order._id }}</h4>
            </div>
            <div *ngFor="let indent of order.Indents; let j = index">
              <h3 [ngStyle]="{ color: indent.Status < 5 ? 'black' : 'red' }">
                Order
                {{
                  indent.StatusStack.length == 5
                    ? " Delivered"
                    : indent.Status < 5
                    ? j + 1
                    : j + 1 + "  Canceled"
                }}
              </h3>
              <div>
                <div class="row">
                  <h3>Source</h3>
                  <h4>{{ indent.Source.Address }}</h4>
                </div>
                <div class="row">
                  <h3>Destination</h3>
                  <h4>{{ indent.Destination.Address }}</h4>
                </div>
                <div class="row">
                  <h3>Weight</h3>
                  <h4>{{ indent.Weight }}</h4>
                </div>
                <div class="row">
                  <h3>Volume</h3>
                  <h4>{{ indent.Volume }}</h4>
                </div>
                <div
                  class="row"
                  *ngIf="indent.Status < 5 && indent.StatusStack.length < 5"
                >
                  <h3>Status</h3>
                  <form
                    [formGroup]="statusForm"
                    (ngSubmit)="onUpdate(indent._id, j)"
                  >
                    <div class="row">
                      <input list="stat" formControlName="Status" />
                      <datalist id="stat">
                        <option>
                          {{ Status[indent.StatusStack.length].status }}
                        </option>
                      </datalist>
                      <div class="row">
                        <button>
                          Update
                          <div class="lds-ring" *ngIf="updated[j]">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
