<div class="dashboard-wrapper">
  <div class="dash-img" [ngStyle]="{ zIndex: popup || UserProfile ? 0 : 2 }">
    <div class="header">
      <div
        class="icon-wrap"
        [ngStyle]="{ marginTop: profile ? '-5.8em' : '0em' }"
      >
        <img src="../../assets/logo.png" />
        <h3>LightSpeed</h3>
      </div>
      <div class="dropdown-wrap">
        <div class="profile-wrapper" (click)="onProfile()">
          <div class="circle">
            <img src="../../assets/invisible.png" alt="" />
          </div>
          {{ Username }}
        </div>
        <div class="dropdown-wrapper" *ngIf="profile">
          <button (click)="Userprofile()">Profile</button>
          <button (click)="logOut()">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="navbar-wrap">
      <a
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="material-icons">dashboard </span>
        Dashboard</a
      >
      <a routerLink="./Orders" routerLinkActive="active"
        ><span class="material-icons"> inventory_2 </span>Orders</a
      >
      <a routerLink="./View Bids" routerLinkActive="active">
        <span class="material-icons"> gavel </span>Bids</a
      >
      <a
        routerLink="./Your Orders"
        routerLinkActive="active"
        (click)="changeZIndex()"
      >
        <span class="material-icons"> more </span>Your Orders</a
      >
      <a routerLink="./Pooling" routerLinkActive="active"
        ><span class="material-icons"> share_location </span>Pooling</a
      >
      <a routerLink="./Your Payments" routerLinkActive="active"
        ><span class="material-icons"> payment </span>Your Payment</a
      >
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
