<div class="features">
  <h3>Trusted Customers</h3>
  <div class="img-wrap">
    <div class="img">
      <img src="../../../../assets/cococola.png" alt="" />
    </div>
    <div class="img">
      <img src="../../../../assets/amazon-logo.png" alt="" />
    </div>
    <div class="img">
      <img src="../../../../assets/fanta.png" alt="" />
    </div>
    <div class="img">
      <img src="../../../../assets/pepsi.png" alt="" />
    </div>
    <div class="img">
      <img src="../../../../assets/nestle.png" alt="" />
    </div>
    <div class="img">
      <img src="../../../../assets/sprite.png" alt="" />
    </div>
  </div>
</div>
