.features {
  padding: 1em 3em;
  h3 {
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #a406ff 0%, #fa71cd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .img-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    .img {
      width: 15%;
      img {
        width: 100%;
      }
    }
  }
}
