<div class="order">
  <div *ngIf="clicked">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="isEmpty">No orders please come later.....</div>
  <div class="order-wrap" *ngFor="let order of Orders; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title [ngStyle]="{ color: 'orange' }">
            Order
          </mat-panel-title>
          <mat-panel-description>{{ order.OrderDate }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="status" *ngIf="order.Status !== 1 || order.Status !== 3">
          <div class="order-details">
            <div class="row">
              <h3>OrderID</h3>
              <h4>{{ order._id }}</h4>
            </div>
            <div *ngFor="let indent of order.Indents; let j = index">
              <h3 [ngStyle]="{ color: indent.Status < 5 ? 'black' : 'red' }">
                Order {{ indent.Status < 5 ? j + 1 : j + 1 + "  Canceled" }}
              </h3>
              <div class="row">
                <h3>Source</h3>
                <h4>{{ indent.Source.Address }}</h4>
              </div>
              <div class="row">
                <h3>Destination</h3>
                <h4>{{ indent.Destination.Address }}</h4>
              </div>
              <div class="row">
                <h3>Consignee Profile</h3>
                <a
                  href="https://lightspeed2021.herokuapp.com/Consignee/{{
                    indent.Consignee.Username
                  }}/Profile/{{ indent.Consignee._id }}"
                  target="_blank"
                  >{{ indent.Consignee.Username }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
