<div class="order">
  <div *ngIf="clicked">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="isEmpty">No orders please come later.....</div>
  <div class="order-wrap" *ngFor="let bid of Bids; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Bid Created </mat-panel-title>
          <mat-panel-description>{{
            bid.indent.OrderDate | tshortpipe: 10
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="status">
          <div class="order-details">
            <div class="title">Order Details</div>
            <div class="row">
              <h3>Bid ID</h3>
              <h4>{{ bid._id }}</h4>
            </div>
            <div class="row">
              <h3>Source</h3>
              <h4>{{ bid.indent.Source.Address }}</h4>
            </div>
            <div class="row">
              <h3>Destination</h3>
              <h4>{{ bid.indent.Destination.Address }}</h4>
            </div>
            <div class="row">
              <h3>Weight</h3>
              <h4>{{ bid.indent.Weight }}</h4>
            </div>
            <div class="row">
              <h3>Volume</h3>
              <h4>{{ bid.indent.Volume }}</h4>
            </div>
            <div class="row">
              <h3>Amount</h3>
              <h4>{{ bid.Amount }}</h4>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
