<div class="order">
  <div *ngIf="clicked">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="isEmpty">No orders please come later.....</div>
  <div class="order-wrap" *ngFor="let order of Orders; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            [ngStyle]="{
              color:
                order.Status === 5
                  ? 'red'
                  : order.Status >= 0
                  ? 'darkgreen'
                  : order.IsPaid
                  ? 'darkgreen'
                  : order.request.Status === 0
                  ? 'palegreen'
                  : order.request.Status === 1 || order.request.Status === 3
                  ? 'red'
                  : order.request.Status === 2
                  ? 'orange'
                  : 'black'
            }"
          >
            {{
              order.Status === 5
                ? "Order canceled"
                : order.Status >= 0
                ? "Order Created"
                : order.IsPaid
                ? "Order paid"
                : order.request.Status === 1
                ? "Order is Canceled by Transporter"
                : order.request.Status === 3
                ? "Order is Canceled by you"
                : order.request.Status === 2
                ? "Payment pending"
                : "New Order"
            }}
          </mat-panel-title>
          <mat-panel-description>{{
            order.OrderDate | shortenPipe: 10
          }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="status" *ngIf="order.Status === -1">
          <div class="order-details">
            <div class="row">
              <h3>OrderID</h3>
              <h4>{{ order._id }}</h4>
            </div>
            <div class="row">
              <h3>Source</h3>
              <h4>{{ order.Source.Address | shortenPipe: 25 }}</h4>
            </div>
            <div class="row">
              <h3>Destination</h3>
              <h4>{{ order.Destination.Address | shortenPipe: 25 }}</h4>
            </div>
            <div
              class="row"
              *ngIf="
                order.request.Amount > 0 &&
                !order.IsPaid &&
                order.request.Status === 2
              "
            >
              <h3>{{ order.request.Amount }} to be paid</h3>
              <div class="payment">
                <button (click)="onProceed(order._id, order.request._id, i)">
                  Proceed pay
                </button>
                <button (click)="onDecline(order.request._id, i)">
                  Decline
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="status" *ngIf="order.Status >= 0">
          <div class="order-details">
            <div class="row">
              <h3>OrderID</h3>
              <h4>{{ order._id }}</h4>
            </div>
            <div class="row">
              <h3>Source</h3>
              <h4>{{ order.Source.Address | shortenPipe: 25 }}</h4>
            </div>
            <div class="row">
              <h3>Destination</h3>
              <h4>{{ order.Destination.Address | shortenPipe: 25 }}</h4>
            </div>
            <div
              class="row"
              *ngIf="order.StatusStack.length <= 2 && order.Status <= 4"
            >
              <button (click)="onCancel(order._id, i)">
                Cancel
                <div class="lds-ring" *ngIf="cancel[i]">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </button>
            </div>
          </div>
          <app-status [Status]="order.StatusStack"></app-status>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="confirm-wrap" *ngIf="popup">
  <div class="confirm-popup">
    <div class="row">
      <div class="msg">Are you sure you want to {{ msg }}</div>
      <button (click)="onClose()"><i class="far fa-times-circle"></i></button>
    </div>
    <div class="btn">
      <button (click)="msg === 'Pay' ? onPayment() : Declined()">
        Proceed
      </button>
      <button (click)="onClose()">Cancel</button>
    </div>
  </div>
</div>
