<div class="order">
  <div *ngIf="clicked">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="45"
    ></mat-progress-spinner>
  </div>
  <div class="order-wrap" *ngFor="let order of Orders; let i = index">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            [ngStyle]="{
              color:
                order.Status === -1
                  ? 'orange'
                  : order.Status < 4
                  ? 'palegreen'
                  : 'black'
            }"
            >{{
              order.Status === -1
                ? "Order Pending"
                : order.Status < 4
                ? "Order created"
                : "Order delivered"
            }}</mat-panel-title
          >
          <mat-panel-description>{{ order.OrderDate }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="status">
          <div class="order-details">
            <div class="row">
              <h3>OrderID</h3>
              <h4>{{ order._id }}</h4>
            </div>
            <div class="row">
              <h3>Source</h3>
              <h4>{{ order.Source.Address | shortenPipe: 20 }}</h4>
            </div>
            <div class="row">
              <h3>Destination</h3>
              <h4>{{ order.Destination.Address | shortenPipe: 20 }}</h4>
            </div>
            <div class="row" *ngIf="order.Amount < 0">
              <h3>{{ order.Amount }} to be paid</h3>
              <div class="payment">
                <button (click)="onProceed(order._id, i)">Proceed pay</button>
                <button (click)="onDecline(order._id, i)">Decline</button>
              </div>
            </div>
          </div>
          <div *ngIf="order.Status > 0">
            <app-status></app-status>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div class="confirm-wrap" *ngIf="popup">
  <div class="confirm-popup">
    <div class="row">
      <div class="msg">Are you sure you want to {{ msg }}</div>
      <button (click)="onClose()"><i class="far fa-times-circle"></i></button>
    </div>
    <div class="btn">
      <button (click)="msg === 'Pay' ? onPayment() : Declined()">
        Proceed
      </button>
      <button (click)="onClose()">Cancel</button>
    </div>
  </div>
</div>
