<form [formGroup]="form" (ngSubmit)="onLogin()">
  <p *ngIf="error">{{ error }} <button (click)="onClose()">x</button></p>
  <!-- <div class="spinner" *ngIf="clicked">
    <mat-progress-spinner
      mode="indeterminate"
      color="accent"
      diameter="45"
    ></mat-progress-spinner>
  </div> -->
  <div class="col">
    <label for="Name">User Email</label>
    <input type="text" formControlName="Email" />
  </div>
  <div class="col">
    <label for="Password">Password</label>
    <input type="password" formControlName="Password" />
  </div>
  <div class="btn-wrap">
    <button [disabled]="!form.valid">
      Log in
      <div class="lds-ring" *ngIf="clicked">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </div>
</form>
<div class="form-footer">
  <p>Don't have an Account</p>
  <a routerLink="/Signup">Signup</a>
</div>
