.verify {
  margin-top: 6em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .content-wrapper {
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    p {
      font-size: 1.3em;
      font-weight: 500;
    }
    form {
      display: flex;
      margin-top: 1em;
      p {
        padding: 0.3em;
        border-radius: 0.3em;
        color: #d8000c;
        background-color: #ffbaba;
        border: 2px solid #d8000c;
        margin-bottom: 1.5em;
        display: flex;
        align-items: center;
        button {
          float: right;
          outline: none;
          border: none;
          cursor: pointer;
          color: white;
          font-size: 1.2em;
          font-weight: 700;
          background: none;
        }
      }
      .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3em;
      }
      input {
        padding: 0.3em;
        font-size: 1.1em;
        outline: none;
        margin-right: 1em;
        &:focus {
          border: 2px solid #f6d365;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0.4em 0.75em;
        font-size: 1.2em;
        background: linear-gradient(to right, #f6d365, #fda085);
        color: #fff;
        font-weight: 600;
        border-radius: 0.3em;
        &:disabled {
          cursor: not-allowed;
          background: gainsboro;
        }
        .lds-ring {
          display: inline-block;
          position: relative;
          width: 28px;
          height: 28px;
          div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 28px;
            height: 28px;
            border: 4.5px solid #fff;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff transparent transparent transparent;
            &:nth-child(1) {
              animation-delay: -0.45s;
            }
            &:nth-child(2) {
              animation-delay: -0.3s;
            }
            &:nth-child(3) {
              animation-delay: -0.15s;
            }
          }
          @keyframes lds-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
