<div class="verify">
  <div class="content-wrapper">
    <p>OTP has been sent to {{ Email }}</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p *ngIf="error">{{ error }} <button (click)="onClose()">X</button></p>
      <input type="number" formControlName="OTP" placeholder="Enter the otp" />
      <button [disabled]="!form.valid">
        verify
        <div class="lds-ring" *ngIf="clicked">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </button>
    </form>
  </div>
</div>
