$mainColor: #00a2fd;
.active {
  border-bottom: 2.5px solid $mainColor;
}
.login {
  padding: 1em 5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4em;
  height: 80vh;
  width: 100%;
  background: url("../../../assets/loginbg.png");
  background-size: contain;
  background-repeat: no-repeat;
  .login-wrap {
    padding: 1.2em 2.5em;
    border-radius: 0.3em;
    width: 30vw;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    .users-wrap {
      display: flex;
      gap: 0.4em;
      a {
        text-decoration: none;
        color: #000;
        font-size: 1.1em;
        font-weight: 500;
      }
      .vr {
        margin-left: 0.3em;
        border-left: 2.3px solid #cbcbcb;
        height: 1.2em;
        margin-right: 0.3em;
      }
    }
  }
}
.horizontal {
  padding: 0em 3em;
  hr {
    border: 0.1px solid gainsboro;
  }
}
