<app-navbar></app-navbar>
<hr />
<div class="login">
  <div class="login-wrap">
    <div class="image-wrap"></div>
    <div class="auth-wrap">
      <div class="users-wrap">
        <a
          routerLink="./"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Consignee</a
        >
        <div class="vr"></div>
        <a routerLink="./TransporterLogin" routerLinkActive="active"
          >Transporter</a
        >
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="horizontal">
  <hr />
</div>
<app-footer></app-footer>
