<form [formGroup]="form" (ngSubmit)="onLogin()" enctype="multipart/form-data">
  <p *ngIf="error">{{ error }} <button (click)="onClose()">X</button></p>
  <div class="col">
    <label for="Name">Consignee Name</label>
    <input
      type="text"
      formControlName="Username"
      required
      [ngStyle]="{
        border:
          formControls.Username.invalid &&
          (formControls.Username.dirty || formControls.Username.touched)
            ? '2px solid red'
            : ''
      }"
    />
    <h5
      *ngIf="
        formControls.Username.invalid &&
        (formControls.Username.dirty || formControls.Username.touched)
      "
      [ngStyle]="{ color: 'red' }"
    >
      Username required
    </h5>
  </div>
  <div class="col">
    <label for="Name">Mobile number</label>
    <input
      type="text"
      formControlName="MobileNo"
      maxlength="10"
      minlength="10"
      required
      [ngStyle]="{
        border:
          formControls.MobileNo.invalid &&
          (formControls.MobileNo.dirty || formControls.MobileNo.touched)
            ? '2px solid red'
            : ''
      }"
    />
    <h5
      *ngIf="
        formControls.MobileNo.invalid &&
        (formControls.MobileNo.dirty || formControls.MobileNo.touched)
      "
      [ngStyle]="{ color: 'red' }"
    >
      Mobile number required or should contain 10 digits
    </h5>
  </div>
  <div class="col">
    <label for="Name">Email</label>
    <input
      type="email"
      formControlName="Email"
      required
      [ngStyle]="{
        border:
          formControls.Email.invalid &&
          (formControls.Email.dirty || formControls.Email.touched)
            ? '2px solid red'
            : ''
      }"
    />
    <h5
      *ngIf="
        formControls.Email.invalid &&
        (formControls.Email.dirty || formControls.Email.touched)
      "
      [ngStyle]="{ color: 'red' }"
    >
      Email required or not valid Mail Id
    </h5>
  </div>
  <div class="col">
    <label for="Password">Password</label>
    <input
      type="password"
      formControlName="Password"
      required
      [ngStyle]="{
        border:
          formControls.Password.invalid &&
          (formControls.Password.dirty || formControls.Password.touched)
            ? '2px solid red'
            : ''
      }"
    />
    <h5
      *ngIf="
        formControls.Password.invalid &&
        (formControls.Password.dirty || formControls.Password.touched)
      "
      [ngStyle]="{ color: 'red' }"
    >
      Password required
    </h5>
  </div>
  <div class="col">
    <label for="PancardNo">Pancard No</label>
    <input
      type="text"
      formControlName="PanCardNo"
      minlength="10"
      maxlength="10"
      required
      [ngStyle]="{
        border:
          formControls.PanCardNo.invalid &&
          (formControls.PanCardNo.dirty || formControls.PanCardNo.touched)
            ? '2px solid red'
            : ''
      }"
    />
    <h5
      *ngIf="
        formControls.PanCardNo.invalid &&
        (formControls.PanCardNo.dirty || formControls.PanCardNo.touched)
      "
      [ngStyle]="{ color: 'red' }"
    >
      Pancard number contains or should contain 10 digits
    </h5>
  </div>
  <p *ngIf="panError">{{ panError }} <button (click)="onError()">X</button></p>
  <div class="col">
    <label for="PanCard">Pancard</label>
    <input type="file" (change)="onPan($event)" />
  </div>
  <div class="btn-wrap">
    <button [disabled]="!panChanged">
      Sign Up
      <div class="lds-ring" *ngIf="clicked">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </div>
</form>
<div class="form-footer">
  <p>Already have an Account ?</p>
  <a routerLink="/Login">Sign in</a>
</div>
