<form [formGroup]="form" (ngSubmit)="onLogin()" enctype="multipart/form-data">
  <p *ngIf="error">{{ error }} <button (click)="onClose()">X</button></p>
  <div class="col">
    <label for="Name">Consignee Name</label>
    <input type="text" formControlName="Username" />
  </div>
  <div class="col">
    <label for="Name">Mobile number</label>
    <input type="number" formControlName="MobileNo" />
  </div>
  <div class="col">
    <label for="Name">Email</label>
    <input type="email" formControlName="Email" />
  </div>
  <div class="col">
    <label for="Password">Password</label>
    <input type="password" formControlName="Password" />
  </div>
  <div class="col">
    <label for="PancardNo">Pancard No</label>
    <input
      type="text"
      formControlName="PanCardNo"
      minlength="10"
      maxlength="10"
    />
  </div>
  <p *ngIf="panError">{{ panError }} <button (click)="onError()">X</button></p>
  <div class="col">
    <label for="PanCard">Pancard</label>
    <input type="file" (change)="onPan($event)" />
  </div>
  <div class="btn-wrap">
    <button [disabled]="!panChanged">
      Sign Up
      <div class="lds-ring" *ngIf="clicked">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </div>
</form>
<div class="form-footer">
  <p>Already have an Account ?</p>
  <a routerLink="/Login">Sign in</a>
</div>
