<app-navbar></app-navbar>
<hr />
<div class="header">
  <div class="header-wrap">
    <div class="grid-wrap">
      <div class="threed_bg">
        <img src="../../assets/Saly.png" alt="" />
      </div>
      <div class="head">
        <div class="row">
          <img src="../../../assets/lightning.png" alt="" />
          <h3>LightSpeed</h3>
        </div>
        <h3>Grow fast with our lightning speed website !!</h3>
        <div class="btn-wrapper">
          <button (click)="goLogin()">Log in</button>
          <button (click)="goSignup()">Sign up</button>
        </div>
      </div>
    </div>
  </div>
  <div class="decoration-wrap">
    <div class="decor-1"></div>
    <div class="decor-2"></div>
  </div>
</div>
<div class="services">
  <div class="service-wrap">
    <div class="img"></div>
    <div class="content-wrapper">
      <h3>User Friendly</h3>
      <ul>
        <li>Friendly environment</li>
        <li>Easy communication</li>
        <li>Smooth user interface</li>
      </ul>
      <button>Learn more</button>
    </div>
  </div>
  <div class="service-wrap">
    <div class="img"></div>
    <div class="content-wrapper">
      <h3>Fast Delivery</h3>
      <ul>
        <li>Faster Delivery</li>
        <li>Ensure freight safety</li>
        <li>Track packages</li>
      </ul>
      <button>Learn more</button>
    </div>
  </div>
  <div class="service-wrap">
    <div class="img"></div>
    <div class="content-wrapper">
      <h3>24/7 Customer care</h3>
      <ul>
        <li>Customer service for 24/7</li>
        <li>Solve problem at ease</li>
      </ul>
      <button>Learn more</button>
    </div>
  </div>
</div>
<app-stylefeatures></app-stylefeatures>
<div class="horizontal">
  <hr />
</div>
<app-footer></app-footer>
