<app-navbar></app-navbar>
<hr />
<div class="about-wrapper">
  <h3>Developers Arena</h3>
  <div class="col-wrap">
    <div class="img"></div>
    <div class="wrap">
      <div class="developer-wrapper">
        <div class="developer">
          <img src="../../../assets/ajith.jpeg" alt="" />
          <div class="dev_contents">
            <div class="name">
              <p>Ak.AjithKumar B.E., CSE</p>
              <div class="team">Front-End</div>
            </div>
            <p class="nickname">@Aji3007</p>
            <div class="contribution">
              <p>contribution</p>
              <img src="../../../assets/icons8-html-5-48.png" alt="" />
              <img src="../../../assets/icons8-css3-48.png" alt="" />
              <img src="../../../assets/icons8-mongodb-48.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="developer-wrapper">
        <div class="developer">
          <img src="../../../assets/jaya.jpg" alt="" />
          <div class="dev_contents">
            <div class="name">
              <p>V.Jayasurya B.E., CSE</p>
              <div class="team">Back-End</div>
            </div>
            <p class="nickname">@surya71</p>
            <div class="contribution">
              <p>contribution</p>
              <img src="../../../assets/icons8-nodejs-48.png" alt="" />
              <img src="../../../assets/icons8-javascript-48.png" alt="" />
              <img src="../../../assets/icons8-mongodb-48.png" alt="" />
              <img src="../../../assets/icons8-graphql-48.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="developer-wrapper">
        <div class="developer">
          <img src="../../../assets/jiji.jpeg" alt="" />
          <div class="dev_contents">
            <div class="name">
              <p>KS.Jitiendran B.E., CSE</p>
              <div class="team">Front-End</div>
            </div>
            <p class="nickname">@jitiendran</p>
            <div class="contribution">
              <p>contribution</p>
              <img src="../../../assets/angular-icon.jpg" alt="" />
              <img src="../../../assets/icons8-html-5-48.png" alt="" />
              <img src="../../../assets/icons8-sass-48.png" alt="" />
              <img src="../../../assets/icons8-typescript-48.png" alt="" />
              <img src="../../../assets/icons8-javascript-48.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="developer-wrapper">
        <div class="developer">
          <img src="../../../assets/ibrahim.jpeg" alt="" />
          <div class="dev_contents">
            <div class="name">
              <p>S.Mohammed Ibrahim B.E.,CSE</p>
              <div class="team">Back-End</div>
            </div>
            <p class="nickname">@mosibu</p>
            <div class="contribution">
              <p>contribution</p>
              <img src="../../../assets/icons8-html-5-48.png" alt="" />
              <img src="../../../assets/icons8-javascript-48.png" alt="" />
              <img src="../../../assets/icons8-nodejs-48.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="horizontal">
  <hr />
</div>
<app-footer></app-footer>
