<app-navbar></app-navbar>
<hr />
<div class="contact-wrapper">
  <div class="profile">
    <div class="row">
      <div class="profile-wrap">
        <div class="img-wrap">
          <img src="../../../assets/ajith.jpeg" alt="" />
        </div>
        <div class="profile-contents">
          <p>AjithKumar Ak</p>
          <div class="icon-wrap">
            <img src="../../../assets/icons8-facebook-48.png" alt="" />
            <img src="../../../assets/icons8-instagram-48.png" alt="" />
            <img src="../../../assets/icons8-linkedin-48.png" alt="" />
            <img src="../../../assets/icons8-gmail-48.png" alt="" />
          </div>
        </div>
      </div>
      <div class="profile-wrap">
        <div class="img-wrap">
          <img src="../../../assets/ibrahim.jpeg" alt="" />
        </div>
        <div class="profile-contents">
          <p>Ibrahim S</p>
          <div class="icon-wrap">
            <img src="../../../assets/icons8-facebook-48.png" alt="" />
            <img src="../../../assets/icons8-instagram-48.png" alt="" />
            <img src="../../../assets/icons8-linkedin-48.png" alt="" />
            <img src="../../../assets/icons8-gmail-48.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="profile-wrap">
        <div class="img-wrap">
          <img src="../../../assets/jaya.jpg" alt="" />
        </div>
        <div class="profile-contents">
          <p>Jayasurya V</p>
          <div class="icon-wrap">
            <img src="../../../assets/icons8-facebook-48.png" alt="" />
            <img src="../../../assets/icons8-instagram-48.png" alt="" />
            <img src="../../../assets/icons8-linkedin-48.png" alt="" />
            <img src="../../../assets/icons8-gmail-48.png" alt="" />
          </div>
        </div>
      </div>
      <div class="profile-wrap">
        <div class="img-wrap">
          <img src="../../../assets/jiji.jpeg" alt="" />
        </div>
        <div class="profile-contents">
          <p>Jitiendran KS</p>
          <div class="icon-wrap">
            <img src="../../../assets/icons8-facebook-48.png" alt="" />
            <img src="../../../assets/icons8-instagram-48.png" alt="" />
            <img src="../../../assets/icons8-linkedin-48.png" alt="" />
            <img src="../../../assets/icons8-gmail-48.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-form">
  <form [formGroup]="contactFrom" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Contact Form</legend>
      <div class="row-wrap">
        <div class="row">
          <label for="Name">Name</label>
          <input
            type="text"
            formControlName="Name"
            required
            [ngStyle]="{
              border:
                formControls.Name.invalid &&
                (formControls.Name.touched || formControls.Name.dirty)
                  ? '2px solid red'
                  : ''
            }"
          />
        </div>
        <h5
          [ngStyle]="{ color: 'red' }"
          *ngIf="
            formControls.Name.invalid &&
            (formControls.Name.touched || formControls.Name.dirty)
          "
        >
          Name required
        </h5>
        <div class="row">
          <label for="Email">Email</label>
          <input
            type="email"
            formControlName="Email"
            required
            [ngStyle]="{
              border:
                formControls.Email.invalid &&
                (formControls.Email.touched || formControls.Email.dirty)
                  ? '2px solid red'
                  : ''
            }"
          />
        </div>
        <h5
          [ngStyle]="{ color: 'red' }"
          *ngIf="
            formControls.Email.invalid &&
            (formControls.Email.touched || formControls.Email.dirty)
          "
        >
          Email required or not valid
        </h5>
      </div>
      <div class="row-wrap">
        <div class="row">
          <label for="Message">Message</label>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            formControlName="Message"
            required
            [ngStyle]="{
              border:
                formControls.Message.invalid &&
                (formControls.Message.touched || formControls.Message.dirty)
                  ? '2px solid red'
                  : ''
            }"
          ></textarea>
        </div>
        <h5
          [ngStyle]="{ color: 'red' }"
          *ngIf="
            formControls.Message.invalid &&
            (formControls.Message.touched || formControls.Message.dirty)
          "
        >
          Message required
        </h5>
        <button [disabled]="!contactFrom.valid">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
<div class="horizontal">
  <hr />
</div>
<app-footer></app-footer>
